<%= render "shared/header" %>
<div class="user-wrap">
  <div class="bg-wrap">
    <%= image_tag "bg3.jpg" %>
  </div>
    <div class="avatar-show">
      <%= image_tag "avatar2.jpg" %>
      <p class="name">Nguyễn Đức Đại</p>
    </div>
  <div class="detail-wrap">
    <div class="information-wrap">


    </div>
    <div class="card-grid posts-user">
      <%= render @posts %> 
    </div>
  </div>
</div>
