<div class="header">
      <ul class="navb">
        <%= link_to "create post", new_post_path, remote: true, class: "new-btn btn btn-primary", id:"new_btn" %>
        <%= link_to "M", "/", class:"home" %>
        <input type="text" name="search" id="search" placeholder="Search">
        <%= link_to image_tag("avatar.jpg", class:"small-avatar"), "#" %>
    </ul>

</div>
