<div class="icon-chat-notify">
  <%= image_tag(user.avatar.attached? ? user.avatar : "avatar-male-default.jpg", class:"small-avatar icon-chat room-icon_#{room.id}",  onclick:"showChatTabFromIcon(this);", id: "user-#{user.id}", data: {room: room.id}) %>
  <p>*</p>
</div>
