          <span class="label">Birthday: </span><span class="data"><%= user.birthday %></span>
      <br>
      <span class="label">Gender: </span><span class="data"><%= user.gender %></span>
      <br>
      <span class="label">Phone: </span> <span class="data"><%= user.phone %></span>
      <br>
      <span class="label">Address: </span> <span class="data"><%= user.address %></span>

