<div class="dropdown-content search-users-result show">
  <% users.each do |user|  %>
    <%= link_to usr_path(user) do %>
      <%= render partial: 'shared/avatar', locals: {user: user} %>
      <span> <%= user.name %> </span>
    <% end %>
  <% end %>
</div>
