<div class="modal-e" id="bg-modal" style="display: none;">
</div>

<div class="card-e" style="display: none;">
</div>
<%= render "shared/header" %>
<div class="wrapper-nonposition container">
    <div class="container">
        <div class="card-deck-wrapper">
          <div class="new-post-input">
            <div class="ava-text">
                  <%= image_tag "avatar.jpg", class:"small-avatar" %>

                  <textarea id="new-post-textarea" placeholder="Hi Dai, what are you thinking?" maxlength="1000000" name="new-post-textarea"></textarea>
            </div>
                <button type="button" class="btn btn-primary">Post</button>
          </div>
            <div class=" card-grid">
                <%= render @posts %>
            </div>
        </div>
    </div>
</div>

<div id="paginator">
    <%= paginate @posts, remote: true %>
</div>
