// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-wrap {
    height: 447px;
    overflow: hidden;

    img {
      max-width: 100%;
    }

}
        .avatar-show {
              top: 149px;
    left: 40%;
      position: absolute;
      img {
              max-width: 46%;
       border-radius: 140px;
      }
      .name {
            font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
      }
    }
    .detail-wrap {
      margin: 0 5%;
      display: grid;
      grid-template-columns: 25% 75%;
      .posts-user{
        margin-top: 18px;
      }
      .information-wrap {
    margin-top: 26px;
        position: relative;
        .action-association {
              height: fit-content;
            background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    border-radius: 7px;
    padding: 19px;
    .dd-req-fri{
      width: 90%;
      display: none;
    margin-top: -3px;
      position: absolute;
    background: buttonface;
    hr{
      margin: 0;
    }
    button{
      width: 97%;
    }
    }
    .btn{
      margin: 5px;
      background: buttonface;
      color: black;
    }
          
        }
        .information{
          display: grid;
          grid-template-columns: 70% 30%;
          margin-top: 10px;
        height: fit-content;
            background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    border-radius: 7px;
    padding: 19px;
    .btn-edit-info-wrap{
      text-align: right;
    }
  }
        .label{
          font-size: 18px;
          font-weight: bold;

        }


      }
    }

    @media only screen and (device-width: 726px),
only screen and (max-width:726px){
      .detail-wrap{
        display: block;
      }
    }
