// Place all the styles related to the videoCalls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signal-video-call-wrap {
      position: fixed;
    z-index: 10;
    background: none;
    width: 100%;
    height: 100%;

    .signal-video-call-content {
      text-align: center;
    margin: 105px auto;
    background: white;
    width: 40%;
    height: 150px;
    padding: 29px 0;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    }
}
.video-call-page{
      background: black;
    height: 100vh;

    #local-video{
      max-width: 300px;
          position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    }

    .control-session {
      position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

      button{
        background: none;
    border: none;
    border-radius: 69px;
    width: 63px;
    padding: 0;
    height: 63px;


        img {
          max-width: 60px;
        }
      }
    }
    #remote-video-container{
          position: absolute;
    top: 0;
    width: 100%;
    background: black;

      
      
    }
}
.remote-video {
  height: 100vh;
  width: 100%;

}
#current_user{
  display: none;
}
#remote_user{
      text-align: center;
    /* margin-top: 100px; */
    top: 247px;
    position: absolute;
    width: 100%;

    img{
      border-radius: 138px;
    max-width: 250px;
    }

    p{
          font-size: 30px;
    color: wheat;
    }
}
